[user]
	name = alf171
	email = alfonso.laffont@gmail.com

[core]
	compression = 9
	whitespace = error
	preloadindex = true

[advice]
	addEmptyPathspec = false
	pushNonFastForward = false
	statusHints = false

[diff]
	context = 3
	renames = copies
	interHunkContext = 10

[http]
	version = HTTP/1.1
	lowSpeedLimit = 1
	lowSpeedTime = 600
[fetch]
	negotiationAlgorithm = default
